body {
  background-color: #1a1e23;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 20px;
}

.container {
  width: 100vw;
}

.chat {
  list-style: none;
  margin: 30px 1%;
  width: 90vw;
}

.bot {
  width: 50%;
}
.bot .profil {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.bot img {
  padding: 2px;
  border-radius: 50%;
  background-color: #1a1e23;
  border: 1px rgba(255, 255, 255, 0.251) solid;
  margin-right: 10px;
}
.bot .msg {
  margin-left: 20px;
}
.bot .msg {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0.1px rgba(255, 255, 255, 0.185);
}
.bot .msg a {
  text-decoration: none;
  color: #6fc3c8;
  transition: ease-in-out 0.5s;
}
.bot .msg a:hover {
  text-decoration: underline;
  color:#78aaad;
  transition: ease-in-out 0.5s;
}

.choix {
  margin-top: 20px;
  list-style: none;
}
.choix li {
  background-color: #78aaad;
  color: #1a1e23;
  width: 80%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.choix li:hover {
  background-color: #6fc3c8;
  margin-left: 5px;
  transition: ease-in-out 0.3s;
}

.me {
  width: 50%;
  margin-left: auto;
  text-align: right;
}
.me .profil {
  text-align: right;
  margin-bottom: 15px;
}
.me .pseudo {
  background-color: rgba(211, 211, 211, 0.177);
  padding: 5px;
  border-radius: 20px;
}
.me .msg {
  padding: 10px;
}
.me .msg {
  box-shadow: 0 0 5px 0.1px rgba(255, 255, 255, 0.185);
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 15px;
    }
    .chat {
      padding: 0;
      width: 95%;
    }
    .choix {
        padding: 0;
        width: 100%;
    }
    .choix li {
        width: 100%;
    }
  }